ipykernel
notebook
virtualenv
google-cloud-bigquery==3.17.2
google-cloud-storage
db-dtypes==1.2.0
pandas==2.1.1
numpy==1.26.1
pyarrow==14.0.0
pandas-gbq
pandas==2.1.1
gcsfs==2023.6.0
fsspec==2023.6.0
matplotlib
seaborn
scikit-learn
scipy
statsmodels
plotly
koreanize_matplotlib